__pycache__/
*.pyc
*.pyo
*.log
*.tar
temp/
.env
.env.dev
.env.example

.vscode/
.github/
.cache/
tessdata/
venv/
temp/
uploads/
docs/
overrides/
scripts/
docs/
site/

README.md
mkdocs.yml

*.bak
*.ps1

local.db
mkdocs.yml
