# Web framework
Flask
flask-cors

# OCR & PDF processing
pytesseract
Pillow
PyMuPDF

# Database
SQLAlchemy
psycopg2-binary

# Environment variables
python-dotenv

# Background task queue
celery
celery-types

# Redis
redis

# Production WSGI server
waitress

# For testing or formatting
pytest
black
typing
logging