:root>* {
    --md-code-hl-name-color: #f0a500;
    --md-code-hl-operator-color: #5a9eff;
    --md-code-hl-punctuation-color: #939393;
    --md-code-hl-comment-color: #7d8799;
    --md-code-hl-generic-color: #8e8e8e;
    --md-code-hl-variable-color: #4eaaaf;
}
